.footer-menu {
	padding: 115px 0 35px 0;
	background: $bg-silver;
	&__navigation {
		li{
		    display: inline-block;
		   	vertical-align: top;
	    	a{
			   font-family: $gilroy;
				font-size: 14px;
				line-height: 140.62%;
				color: $color-t-black;
				text-decoration: none;
				position: relative;
				padding: 5px 0;
				transition: all 0.4s ease 0s;
				z-index: 2;
				&:before{
					position: absolute;
					content: '';
					width: 0;
					height: 100%;
					border-bottom: 2px solid $bg-orange;
					border-top: 2px solid $bg-orange;
					top: 0;
					left: 50%;
					z-index: -1;
					transition: all 0.4s ease 0s;
				}
				&:hover{
					&:before{
						position: absolute;
						content: '';
						width: 100%;
						height: 100%;
						border-top: 2px solid $bg-orange;
						border-bottom: 2px solid $bg-orange;
						top: 0;
						left: 0;
						z-index: -1;
						transition: all 0.4s ease 0s;
					}
				}
	    	}
		}
	}
	&__logo {
		text-align: center;
	}
	&__socials {
		margin-top: 55px;
		text-align: center;
		li{
			display: inline-block;
			vertical-align: top;
			a{
				text-decoration: none;
				i{
					text-decoration: none;
					color: $color-t-white;
					border-radius: 50%;
					background: #000;
					height: 38px;
					width: 38px;
					font-size: 20px;
					line-height: 38px;
					margin-right: 25px;
				}
			}
		}
	}
	&__support {
		margin-top: 73px;
		text-align: center;
		p{
			display: inline-block;
			font-family: $gilroy;
			font-size: 14px;
			line-height: 140.62%;
			color: $color-t-black;
			margin-right: 25px
		}
	}
}