body{
	font-family: 'Gilroy', sans-serif;
	img{
		max-width: 100%;
	}
	ul{
		list-style: none;
	}
}
.padding-none{
	padding: 0;
}
.text{
	font-family: 'Gilroy', sans-serif;
	font-size: 20px;
	line-height: 140.62%;
}
.title{
	font-family: 'Gilroy', sans-serif;
	font-size: 32px;
	line-height: 38px;
}
.subtitle{
	font-family: 'Gilroy', sans-serif;
	font-size: 18px;
	line-height: 135.94%;
}
.button{
	font-family: 'Gilroy', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
   text-align: center;
	border-radius: 5px; 
	text-transform: uppercase;
	text-decoration: none;
	&:focus{
	    outline: none;
	}
}