.header{
	padding-top: 10px;
	background: $bg-silver;
}
.hamburger{
	display: none;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 10px;
	width: 56px;
	height: 56px;
	border: none;
	background: none;
	&:focus{
		outline: none;
	}
} 
.hamburger span{
	display: block;
	position: absolute;
	top: 25px;
	left: 10px;
	right: 10px;
	height: 5px;
	background: $bg-orange;
}
.hamburger span::before, .hamburger span::after{
	display: block;
	position: absolute;
	left: 0;
	height: 5px;
	width: 100%;
	background: $bg-orange;
	content: " ";
} 
.hamburger span::before{
	top: -10px;
}
.hamburger span::after{
	bottom: -10px;
}
.hamburger__line span::before, .hamburger__line span::after{
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s,0s;
}
.hamburger__line span::before{
	transition-property: top, transform;
}
.hamburger__line span::after{
	transition-property: bottom, transform;
}
.hamburger__line.is-active span{
	background: none;
}
.hamburger__line.is-active span::before{
	top: 0;
	transform: rotate(-45deg);
}
.hamburger__line.is-active span::after{
	bottom: 0;
	transform: rotate(45deg);
}
.hamburger__line.is-active span::before, .hamburger__line.is-active span::after{
	transition-delay: 0s, 0.3s;
} 
.burger-menu{
	display: none;
	width: 100%;
	text-align: center;
	li{
		padding: 5px 0;	
		margin-bottom: 10px;
		border-radius: 5px;
		transition: all 0.4s ease 0s;
		a{
			font-family: $gilroy;
			font-size: 16px;
			line-height: 22px;
			color: $color-t-black;
			text-decoration: none;
			transition: all 0.4s ease 0s;
		}
		&:hover{
			background: $bg-orange;
			transition: all 0.4s ease 0s;
			a{
				color: $color-t-white;
				transition: all 0.4s ease 0s;
			}
		}
	}
}
.header {
	&.nav__fixed{
		padding-top: 107px;
		background: $bg-silver;
	}
}
.nav__fixed .header-menu{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 3;
	background: #e8e8e8;
}
.search-block{
	display: none;
	position: relative;
	margin-top: 30px;
	input{
		font-family: $gilroy;
		padding: 9px;
		width: 100%;
		outline: none;
		background: none;
		border: 1px solid $bg-silver;
		border-radius: 5px;
		color: $color-t-black;
	    &:focus{
	    	border: 1px solid $bg-orange;
	    }
	}
	.search-btn{
		top: 1px;
		right: 1px;
		background: $bg-orange;
		position: absolute;
		border: none;
		border-radius: 4px;
		width: 36px;
		height: 36px;
		&:focus{
	    	outline: none;
	    }
	}
}
.hamburger__search-block{
	display: block;
	margin-bottom: 10px;
}
.header-menu{
	padding: 25px 10px 35px 50px;
	background: $bg-silver;
	.header-menu__logo{
		margin-top: 5px;
	}
	.header-menu__navigation{
		text-align: center;
		margin-top: 10px;
		li{
	    	display: inline-block;
	    	vertical-align: top;
	    	a{
	    		display: block;
			   font-family: $gilroy;
				font-size: 18px;
				line-height: 22px;
				color: $color-t-black;
				text-decoration: none;
				margin-right: 30px;
				position: relative;
				transition: all 0.4s ease 0s;
				z-index: 2;
				&:before{
					position: absolute;
					content: '';
					width: 0;
					height: 100%;
					border-bottom: 2px solid $bg-orange;
					border-top: 2px solid $bg-orange;
					top: 0;
					left: 50%;
					z-index: -1;
					transition: all 0.4s ease 0s;
				}
				&:hover{
					&:before{
						position: absolute;
						content: '';
						width: 100%;
						height: 100%;
						border-top: 2px solid $bg-orange;
						border-bottom: 2px solid $bg-orange;
						top: 0;
						left: 0;
						z-index: -1;
						transition: all 0.4s ease 0s;
					}
				}
	    	}
		}
	}
	.header-menu__button{
		text-align: right;
		.header-menu__search{
			color: $colr-t-orange;
			background: transparent;
			border: 1px solid $bg-orange;
			padding: 13px 24px 10px;
			transition: all 0.6s ease 0s;
		   &:hover{
		   	background: $bg-orange;
		   	color: $color-t-white;
		   	transition: all 0.6s ease 0s;
		   }
		}
	}
}