.overview {
	background: $bg-grey;
	&__head {
		padding: 151px 137px 135px 162px;
	}
	&__caption {
		font-family: $gilroy;
		font-size: 56px;
		line-height: 69px;
		color: $color-t-black;
	}
	&__text {
		color: $color-t-black;
		margin-top: 35px; 
	}
	&__button {
		margin-top: 52px;
	}
	&__search {
		color: $color-t-white;
		border: 1px solid $bg-orange; 
		padding: 19px 24px;
		position: relative;
		transition: all 0.4s ease 0s;
		z-index: 2;
		&:before{
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background: $bg-orange;
			top: 0;
			left: 0;
			z-index: -1;
			transition: all 0.4s ease 0s;
		}
		&:hover{
			color: $colr-t-orange;
			&:before{
				position: absolute;
				content: '';
				width: 0;
				height: 100%;
				background: transparent;
				top: 0;
				left: 50%;
				z-index: -1;
				transition: all 0.4s ease 0s;
			}
		}
	}
	&__imege{
		display: none;
	}
	&__imege-1 {
		background: url(img/overview-bg1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
	}
	&__imege-2 {
		background: url(img/overview-bg2.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
	}
	&__footer {
		padding: 164px 166px 104px 110px;
	}
	&__title {
		color: $color-t-black;
	}
	&__excert {
		text-align: justify;
		color: $color-t-black;
		margin-top: 30px;
	}
	&__more {
		margin-top: 35px;
		color: $colr-t-orange;
		border: 1px solid $bg-orange;
		padding: 18px 46px;
		position: relative;
		transition: all 400ms ease;
		z-index: 2;
		&:before{
			position: absolute;
			content: '';
			width: 0;
			height: 100%;
			background: transparent;
			top: 0;
			left: 50%;
			z-index: -1;
			transition: all 400ms ease;
		}
		&:hover{
			color: $color-t-white;
			&:before{
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				background: $bg-orange;
				top: 0;
				left: 0;
				z-index: -1;
				transition: all 400ms ease;
			}
		}
	}
	&__hide{
		display: none;
	}
}
.gifts {
	margin: 95px 0 137px 0;
	&__title {
		text-align: center;
		color: $color-t-black;
	}
	&__subtitle {
		text-align: center;
		color: $color-t-black;
		margin-top: 25px;
	}
	&__column {
		margin-top: 64px;
	}
}

.item {
	&__gift {
		background: $bg-silver;
		&:hover{
			background: #fff;
			box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
		}
	}
	&__title {
		padding: 24px;
		color: $color-t-black;
	}
	&__link {
		padding: 50px 0 24px 24px;
		a{
			text-decoration: none;
			font-family: $roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;
			color: $color-t-black;
		}
	}
}
.info {
	background: $bg-orange;
	padding: 80px 0 70px;
	&__title {
		color: $color-t-black;
		font-weight: bold;
	}
	&__link {
		margin-top: 15px;
		a{
			text-decoration: none;
			color: $color-t-black;
		}
	}
	&__form-group {
		padding: 15px 0 24px 60px;
	}
	&__button {
		color: $color-t-white;
		background: $bg-dark;
		border: 1px solid $bg-dark;
		padding: 13px 24px;
		margin-right: 15px;
		&:hover{
			color: $color-t-black;
			background: none;
			border: 1px solid $bg-dark;
		}
	}
}
.block-card {
	margin: 88px 0 80px;
	&__title {
		text-align: center;
		color: $color-t-black;
	}
	&__subtitle {
		text-align: center;
		color: $color-t-black;
		margin-top: 25px;
	}
	&__feature {
		margin-top: 70px;
	}
	&__img {
		background: url(img/feature-media.jpg);
		background-size: cover;
		min-height: 100%;
	}
	&__information {
		background: $bg-dark;
		padding: 60px 125px 63px 80px;
	}
	&__name {
		font-family: $gilroy;
		font-size: 14px;
		line-height: 140.62%;
		color: $color-t-white;
	}
	&__caption {
		font-family: $gilroy;
		font-size: 48px;
		line-height: 58px;
		color: $color-t-white;
		margin-top: 30px;
	}
	&__hide {
		display: none;
		font-family: $gilroy;
		font-size: 14px;
		line-height: 140.62%;
		color: $color-t-white;
		margin: 15px 0 0 0;
	}
	&__link {
		margin-top: 60px;
		text-decoration: none;
		font-family: $gilroy;
		font-size: 18px;
		line-height: 140.62%;
		color: $color-t-white;
		cursor: pointer;
	}
	&__aside {
		margin: 40px 0 80px;
		padding: 48px;
		&:hover{
			box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
		}
	}
}
.aside-card{
	&__title{
		font-family: $gilroy;
		font-size: 24px;
		line-height: 140.62%;
		font-weight: bold;
		color: $color-t-black;
	}
	&__excert{
		margin-top: 20px;
		font-family: $gilroy;
		font-size: 18px;
		line-height: 140.62%;
		color: $color-t-black;
	}
	&__link{
		margin-top: 40px;
		font-family: $gilroy;
		font-size: 14px;
		line-height: 140.62%;
		color: $color-t-black;
		cursor: pointer;
	}
	&__hide{
		display: none;
	}
}