$bg-grey: #F1F1F2;
$bg-silver: #FAFAFA;
$bg-dark: #231F20;
$bg-orange: #F7941E;
$color-t-black:  #000000;
$color-t-white: #ffffff;
$colr-t-orange: #F7941E;
$gilroy:'Gilroy', sans-serif;
$roboto:'Roboto', sans-serif;