@media (max-width: 1200px) { 
	.overview__head{
		padding: 70px;
	}
	.overview__caption{
		font-size: 42px;
    	line-height: 60px;
	}
	.overview__footer{
		padding: 60px;
	}
	.info__form-group{
		padding: 15px 0 24px 40px;
	}
}
@media (max-width: 992px) {
	.button{
		font-size: 14px;
	}
	.text{
		font-size: 16px;
	}
	.title{
		font-size: 24px;
	}
	.header-menu .header-menu__button .header-menu__search{
		padding: 10px 20px 8px;
	}
	.overview .overview__head{
		padding: 40px;
	}
	.overview__caption{
		font-size: 36px;
    	line-height: 50px;
	}
	.overview__button{
		margin-top: 40px;
	}
	.overview__search{
		padding: 15px 20px 13px;
	}
	.overview__footer{
		padding: 30px;
	}
	.overview__more{
		padding: 13px 36px;
	}
	.item__gift{
		margin-top: 30px;
	}
	.gifts__column{
		margin-top: 40px;
	}
	.block-card__information{
		padding: 40px 60px;
	}
	.block-card__caption{
		font-size: 38px;
	    line-height: 48px;
	    margin-top: 20px;
	}
	.block-card__aside{
		margin: 40px 0;
    	padding: 0px; 
	}
}
@media (max-width: 768px) {
	.text{
		font-size: 14px;
	}
	.title{
		font-size: 20px;
	}
	.header-menu .header-menu__button{
		display: none;
	}
	.header-menu .header-menu__navigation li a{
		font-size: 16px;
	}
	.overview__head{
		padding: 30px;
	}
	.overview__caption{
		font-size: 27px;
    	line-height: 40px;
	}
	.overview__button{
		margin-top: 30px;
	}
	.overview__search{
		padding: 10px 15px 10px;
	}
	.overview__excert{
		margin-top: 20px;
	}
	.overview__more{
		padding: 10px 26px;
	}
	.overview__button-more{
		margin-top: 20px;
	}
	.overview__footer{
		padding: 20px;
	}
	.gifts{
		margin: 65px 0 100px 0;
	}
	.info{
		padding: 60px 0 50px;
	}
	.info__form-group{
		padding: 0px;
	}
	.info .info__button{
		padding: 10px 20px;
		margin-bottom: 15px;
	}
	.block-card{
		margin: 60px 0;
	}
	.block-card__information{
		padding: 30px;
	}
	.block-card__caption{
		font-size: 28px;
	    line-height: 38px;
	}
	.block-card__link{
		margin-top: 40px;
	}
	.block-card__link a{
		font-size: 16px;
	}
	.block-card__aside{
    	padding: 20px; 
	}
}
@media (max-width: 576px) {
	.header-menu .header-menu__navigation{
		display: none;
	}
	.subtitle{
		font-size: 16px;
	}
	.info__title{
		text-align: center;
	}
	.info__link{
		text-align: center;
	}
	.info__form-group{
		margin-top: 20px;
		text-align: center;
	}
	.aside-card__title{
		font-size: 20px;
	}
	.aside-card__excert{
		font-size: 16px;
	}
	.footer-menu{
		padding: 60px 0 35px;
	}
	.overview__imege{
		display: block;
	}
	.overview__imege-1{
		display: none;
	}
	.overview__imege-2{
		display: none;
	}
	.block-card__img{
		width: 100%;
	}
	.header-menu{
		padding: 20px 0 10px 0;
	}
	.hamburger{
		display: block;
	}
	.header.nav__fixed{
		padding-top: 70px;
	}
}
@media (max-width: 350px) {
   .footer-menu__socials li a i{
		margin: 10px 10px 0 0; 
	}
}
