body {
  font-family: 'Gilroy', sans-serif; }
  body img {
    max-width: 100%; }
  body ul {
    list-style: none; }

.padding-none {
  padding: 0; }

.text {
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  line-height: 140.62%; }

.title {
  font-family: 'Gilroy', sans-serif;
  font-size: 32px;
  line-height: 38px; }

.subtitle {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 135.94%; }

.button {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none; }
  .button:focus {
    outline: none; }

.header {
  padding-top: 10px;
  background: #FAFAFA; }

.hamburger {
  display: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 10px;
  width: 56px;
  height: 56px;
  border: none;
  background: none; }
  .hamburger:focus {
    outline: none; }

.hamburger span {
  display: block;
  position: absolute;
  top: 25px;
  left: 10px;
  right: 10px;
  height: 5px;
  background: #F7941E; }

.hamburger span::before, .hamburger span::after {
  display: block;
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
  background: #F7941E;
  content: " "; }

.hamburger span::before {
  top: -10px; }

.hamburger span::after {
  bottom: -10px; }

.hamburger__line span::before, .hamburger__line span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s,0s; }

.hamburger__line span::before {
  transition-property: top, transform; }

.hamburger__line span::after {
  transition-property: bottom, transform; }

.hamburger__line.is-active span {
  background: none; }

.hamburger__line.is-active span::before {
  top: 0;
  transform: rotate(-45deg); }

.hamburger__line.is-active span::after {
  bottom: 0;
  transform: rotate(45deg); }

.hamburger__line.is-active span::before, .hamburger__line.is-active span::after {
  transition-delay: 0s, 0.3s; }

.burger-menu {
  display: none;
  width: 100%;
  text-align: center; }
  .burger-menu li {
    padding: 5px 0;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.4s ease 0s; }
    .burger-menu li a {
      font-family: "Gilroy", sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      text-decoration: none;
      transition: all 0.4s ease 0s; }
    .burger-menu li:hover {
      background: #F7941E;
      transition: all 0.4s ease 0s; }
      .burger-menu li:hover a {
        color: #ffffff;
        transition: all 0.4s ease 0s; }

.header.nav__fixed {
  padding-top: 107px;
  background: #FAFAFA; }

.nav__fixed .header-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 3;
  background: #e8e8e8; }

.search-block {
  display: none;
  position: relative;
  margin-top: 30px; }
  .search-block input {
    font-family: "Gilroy", sans-serif;
    padding: 9px;
    width: 100%;
    outline: none;
    background: none;
    border: 1px solid #FAFAFA;
    border-radius: 5px;
    color: #000000; }
    .search-block input:focus {
      border: 1px solid #F7941E; }
  .search-block .search-btn {
    top: 1px;
    right: 1px;
    background: #F7941E;
    position: absolute;
    border: none;
    border-radius: 4px;
    width: 36px;
    height: 36px; }
    .search-block .search-btn:focus {
      outline: none; }

.hamburger__search-block {
  display: block;
  margin-bottom: 10px; }

.header-menu {
  padding: 25px 10px 35px 50px;
  background: #FAFAFA; }
  .header-menu .header-menu__logo {
    margin-top: 5px; }
  .header-menu .header-menu__navigation {
    text-align: center;
    margin-top: 10px; }
    .header-menu .header-menu__navigation li {
      display: inline-block;
      vertical-align: top; }
      .header-menu .header-menu__navigation li a {
        display: block;
        font-family: "Gilroy", sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        text-decoration: none;
        margin-right: 30px;
        position: relative;
        transition: all 0.4s ease 0s;
        z-index: 2; }
        .header-menu .header-menu__navigation li a:before {
          position: absolute;
          content: '';
          width: 0;
          height: 100%;
          border-bottom: 2px solid #F7941E;
          border-top: 2px solid #F7941E;
          top: 0;
          left: 50%;
          z-index: -1;
          transition: all 0.4s ease 0s; }
        .header-menu .header-menu__navigation li a:hover:before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          border-top: 2px solid #F7941E;
          border-bottom: 2px solid #F7941E;
          top: 0;
          left: 0;
          z-index: -1;
          transition: all 0.4s ease 0s; }
  .header-menu .header-menu__button {
    text-align: right; }
    .header-menu .header-menu__button .header-menu__search {
      color: #F7941E;
      background: transparent;
      border: 1px solid #F7941E;
      padding: 13px 24px 10px;
      transition: all 0.6s ease 0s; }
      .header-menu .header-menu__button .header-menu__search:hover {
        background: #F7941E;
        color: #ffffff;
        transition: all 0.6s ease 0s; }

.overview {
  background: #F1F1F2; }
  .overview__head {
    padding: 151px 137px 135px 162px; }
  .overview__caption {
    font-family: "Gilroy", sans-serif;
    font-size: 56px;
    line-height: 69px;
    color: #000000; }
  .overview__text {
    color: #000000;
    margin-top: 35px; }
  .overview__button {
    margin-top: 52px; }
  .overview__search {
    color: #ffffff;
    border: 1px solid #F7941E;
    padding: 19px 24px;
    position: relative;
    transition: all 0.4s ease 0s;
    z-index: 2; }
    .overview__search:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: #F7941E;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s ease 0s; }
    .overview__search:hover {
      color: #F7941E; }
      .overview__search:hover:before {
        position: absolute;
        content: '';
        width: 0;
        height: 100%;
        background: transparent;
        top: 0;
        left: 50%;
        z-index: -1;
        transition: all 0.4s ease 0s; }
  .overview__imege {
    display: none; }
  .overview__imege-1 {
    background: url(img/overview-bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; }
  .overview__imege-2 {
    background: url(img/overview-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; }
  .overview__footer {
    padding: 164px 166px 104px 110px; }
  .overview__title {
    color: #000000; }
  .overview__excert {
    text-align: justify;
    color: #000000;
    margin-top: 30px; }
  .overview__more {
    margin-top: 35px;
    color: #F7941E;
    border: 1px solid #F7941E;
    padding: 18px 46px;
    position: relative;
    transition: all 400ms ease;
    z-index: 2; }
    .overview__more:before {
      position: absolute;
      content: '';
      width: 0;
      height: 100%;
      background: transparent;
      top: 0;
      left: 50%;
      z-index: -1;
      transition: all 400ms ease; }
    .overview__more:hover {
      color: #ffffff; }
      .overview__more:hover:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: #F7941E;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 400ms ease; }
  .overview__hide {
    display: none; }

.gifts {
  margin: 95px 0 137px 0; }
  .gifts__title {
    text-align: center;
    color: #000000; }
  .gifts__subtitle {
    text-align: center;
    color: #000000;
    margin-top: 25px; }
  .gifts__column {
    margin-top: 64px; }

.item__gift {
  background: #FAFAFA; }
  .item__gift:hover {
    background: #fff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05); }
.item__title {
  padding: 24px;
  color: #000000; }
.item__link {
  padding: 50px 0 24px 24px; }
  .item__link a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000; }

.info {
  background: #F7941E;
  padding: 80px 0 70px; }
  .info__title {
    color: #000000;
    font-weight: bold; }
  .info__link {
    margin-top: 15px; }
    .info__link a {
      text-decoration: none;
      color: #000000; }
  .info__form-group {
    padding: 15px 0 24px 60px; }
  .info__button {
    color: #ffffff;
    background: #231F20;
    border: 1px solid #231F20;
    padding: 13px 24px;
    margin-right: 15px; }
    .info__button:hover {
      color: #000000;
      background: none;
      border: 1px solid #231F20; }

.block-card {
  margin: 88px 0 80px; }
  .block-card__title {
    text-align: center;
    color: #000000; }
  .block-card__subtitle {
    text-align: center;
    color: #000000;
    margin-top: 25px; }
  .block-card__feature {
    margin-top: 70px; }
  .block-card__img {
    background: url(img/feature-media.jpg);
    background-size: cover;
    min-height: 100%; }
  .block-card__information {
    background: #231F20;
    padding: 60px 125px 63px 80px; }
  .block-card__name {
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    line-height: 140.62%;
    color: #ffffff; }
  .block-card__caption {
    font-family: "Gilroy", sans-serif;
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
    margin-top: 30px; }
  .block-card__hide {
    display: none;
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    line-height: 140.62%;
    color: #ffffff;
    margin: 15px 0 0 0; }
  .block-card__link {
    margin-top: 60px;
    text-decoration: none;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    line-height: 140.62%;
    color: #ffffff;
    cursor: pointer; }
  .block-card__aside {
    margin: 40px 0 80px;
    padding: 48px; }
    .block-card__aside:hover {
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05); }

.aside-card__title {
  font-family: "Gilroy", sans-serif;
  font-size: 24px;
  line-height: 140.62%;
  font-weight: bold;
  color: #000000; }
.aside-card__excert {
  margin-top: 20px;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 140.62%;
  color: #000000; }
.aside-card__link {
  margin-top: 40px;
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  line-height: 140.62%;
  color: #000000;
  cursor: pointer; }
.aside-card__hide {
  display: none; }

.footer-menu {
  padding: 115px 0 35px 0;
  background: #FAFAFA; }
  .footer-menu__navigation li {
    display: inline-block;
    vertical-align: top; }
    .footer-menu__navigation li a {
      font-family: "Gilroy", sans-serif;
      font-size: 14px;
      line-height: 140.62%;
      color: #000000;
      text-decoration: none;
      position: relative;
      padding: 5px 0;
      transition: all 0.4s ease 0s;
      z-index: 2; }
      .footer-menu__navigation li a:before {
        position: absolute;
        content: '';
        width: 0;
        height: 100%;
        border-bottom: 2px solid #F7941E;
        border-top: 2px solid #F7941E;
        top: 0;
        left: 50%;
        z-index: -1;
        transition: all 0.4s ease 0s; }
      .footer-menu__navigation li a:hover:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border-top: 2px solid #F7941E;
        border-bottom: 2px solid #F7941E;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s ease 0s; }
  .footer-menu__logo {
    text-align: center; }
  .footer-menu__socials {
    margin-top: 55px;
    text-align: center; }
    .footer-menu__socials li {
      display: inline-block;
      vertical-align: top; }
      .footer-menu__socials li a {
        text-decoration: none; }
        .footer-menu__socials li a i {
          text-decoration: none;
          color: #ffffff;
          border-radius: 50%;
          background: #000;
          height: 38px;
          width: 38px;
          font-size: 20px;
          line-height: 38px;
          margin-right: 25px; }
  .footer-menu__support {
    margin-top: 73px;
    text-align: center; }
    .footer-menu__support p {
      display: inline-block;
      font-family: "Gilroy", sans-serif;
      font-size: 14px;
      line-height: 140.62%;
      color: #000000;
      margin-right: 25px; }

/*# sourceMappingURL=style.css.map */
